{% extends 'base.html.twig' %}

{% block title %}
New blog post
{% endblock %}

{% block body %}
    <h1> Write someting clever </h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
